/* Arquivo de estilos */
.corpo {
    height: 98vh;
    background-image: url('imagens/fundo-madeira.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

    position: relative;
    
}
/*
#conteudo {
    background-image: url('imagens/frame-iphone.png');
    background-size: 100% 100%;
    position: absolute;
    height: 50%;
    width: 50%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
*/
  
.div_tela {
    width: 260px;
    overflow: hidden;
}
.celular {
    /*width: 330px;*/
    
    text-align: center;
  }
  
  .child {
    
    width: 100%;
    position: absolute;
    height: 100%;
    top: 50%;
    overflow: auto;
    transform: translate(0%, -50%);
  }