/* Arquivo de estilos */
body {
    height: 75vh;
    background-image: url('imagens/fundo-madeira.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}
  
/* .div_tela {
    width: 260px;
    overflow: hidden;
}
 */
.celular {
    /*width: 330px;*/
    position: absolute;
    height: 100%;
    top: 25%;
    right: 25%;
    text-align: center;
}
  
.child {
    width: 100%;
    position: absolute;
    height: 100%;
    top: 50%;
    overflow: auto;
    transform: translate(0%, -50%);
}